/* Font Style */

body{
      font-family: "Open Sans", sans-serif;
      margin: 0;
      padding: 0;
    }
.header {
    background-color: #FFF8F3;
    /* background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px ;
}
.nav-title{
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    font-weight: 800;
}  
.btn-primary {
    background-color: orangered;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}
.btn-primary:hover {
    background-color: rgba(255, 68, 0, 0);
    color: orangered;
    padding: 10px 15px;
    border: 1px solid orangered;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}
.logotextcolor{
    color: orangered;
} 
nav > ul{
    display: flex;
    align-items: center;
}  
nav li {
    list-style: none;
    margin-right: 50px;
}  
nav a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px ;
}
.banner-subtitle {
    font-size: 30px;
    font-weight: 400;
}
.banner-title {
    font-size: 45px;
    line-height: 0.5;
}
.banner-img {

    padding: 30px 50px 0px 150px;
    
}
.about {
    padding: 0px 100px;
}
.about-section {
    margin: 100px;
    padding: 100px;
    background-color: #e4e4e4;
}
.section-title {
    font-size: 35px;
    text-align: center;
}
.what-i-do-text {
    text-align: center;
    line-height: 1.5;
}
.info-text {
    margin-top: 30px;
    text-align: center;
}
.info-velu {
    margin-top: -15px;
    text-align: center;
    font-weight: 700;
}
.about-info {
    display: flex;
    justify-content: space-between;
}
.what-i-do {
    text-align: center;
    line-height: 1.5;
    padding: 0px 200px;
}
.skills-container {
    display: flex;
    justify-content: space-between;
}
.skill {
    text-align: left;
    margin-right: 20px;
    margin-top: 40px;
}
.skill-title {
    font-weight: 700;
}
.skill-text {
    font-size: 14px;
}
.resume {
    padding: 60px 200px;
}
.resume-card {
    margin-right: 20px;
}
.resume-subtitle {
    margin: -5px 0px;
    font-weight: 500;
}
.resume-text {
    font-size: 14px;
    padding-right: 30px;
}
.resume-summery {
    display: flex;
    justify-content: space-between;
}
.resume > h2 {
    margin-bottom: 80px;
}
.btn-resume {
    text-align: center;
    margin-top: 30px;
}
.footer {
    padding: 50px 200px;
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-around;
}
.footer-left {
    width: 50%;
}
.footer-left > p {
    font-size: 14px;
}